/*--------------
    ASIDE 
--------------*/
aside.nav-bar-left{
    width: 3.125rem;
    padding: .3125rem 0;
    background-color: black;
    overflow-y: auto;
}

aside img{
    width: 1.875rem;
}

.aside-top .aside-action {
    margin-bottom: .625rem;
}

aside .aside-bottom #download-img{
    transform: translate(-0.125rem, 0px);
    width: 1.25rem;
    margin-bottom: 1rem;
}

aside .profile img{
    border-radius: 50%;
    background-color: #808080;
    height: 1.875rem;
}

@media screen and (min-width: 700px){
    aside.nav-bar-left{
        width: 14.375rem;
        align-items: flex-start;
        padding: 1rem 0 1rem 1.25rem;
        z-index: 10;
    }
    aside.nav-bar-left .aside-top .logo-small{
        display: none;
    }
    aside.nav-bar-left .aside-top .logo-big{
        display: block;
        width: 80%;
        margin-bottom: 1.5625rem;
    }
    aside .aside-top a:nth-child(2) .aside-action{
        position: relative;
    }
    aside .aside-top a:nth-child(2) .aside-action:after{
        color: #adff2f;
        content: "_";
        transform: rotate(90deg);
        font-size: 3.8rem;
        position: absolute;
        left: -0.6875rem;
    }
    .nav-bar-left .aside-top .aside-action:nth-child(2) .open-menu{
        color: white;
    }
    .nav-bar-left .aside-action .open-menu{
        color: #a3a3a3;
        display: block;
        padding-left: .4375rem;
    }
    aside .aside-bottom #download-img{
        margin-bottom: 0;
    }
    .aside-bottom .download-section{
        margin-bottom: .9375rem;
    }
    .aside-bottom .profile{
        border-top: 1px solid white;
        padding-top: .625rem;
        width: 120%;
    }
}

@media screen and (min-width: 1100px) {
    .aside-bottom .profile{
        width: 130%;
    }
}

@media screen and (min-width: 1600px) {
    .aside-bottom .profile{
        width: 140%;
    }
}

/*--------------
 ASIDE PLAYLIST
--------------*/
aside .playlist-bottom{
    width: 100%;
}

aside .playlist-top h4{
    color: white;
    margin-top: .625rem;
}

aside .playlist-top .playlist-button{
    padding: .9375rem 0;
}

aside .playlist-button i{
    background-color: var(--grey-light);
    padding: .3125rem;
}

aside .playlist-button span{
    color: var(--grey-light);
    font-weight: bold;
}

aside .playlist-bottom{
    overflow-y: auto;
    flex-grow: 1;
    min-height: 3.75rem;
    margin-bottom: .9375rem;
}

aside .playlist-bottom ul li a{
    color: #a3a3a3;
    text-decoration: none;
}

@media screen and (min-width: 700px){
    aside .playlist-top, aside .playlist-bottom{
        display: block;
    }
}