/*--------------
    COMMON 
--------------*/
body{
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

a{
    text-decoration: none;
}

/*--------------
    FLEX 
--------------*/
.flex{
    display: flex;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.wrap-wrap{
    flex-wrap: wrap;
}

.justify-center{
    justify-content: center;
}

.justify-right{
    justify-content: flex-end;
}

.justify-space-around{
    justify-content: space-around;
}

.justify-space-between{
    justify-content: space-between;
}

.align-items-center{
    align-items: center;
}

.align-self-center{
    align-self: center;
}

/*--------------
    TEXT 
--------------*/
.list-none{
    list-style: none;
}

.text-center{
    text-align: center;
}

/*--------------
    MARIGN 
--------------*/
.margin-l-15{
    margin-left: .9375rem;
}

.margin-b-30{
    margin-bottom: 1.875rem;
}

.margin-b-15{
    margin-bottom: .9375rem;
}

.margin-b-10{
    margin-bottom: .625rem;
}

.margin-t-10{
    margin-top: .625rem;
}

/*--------------
    PADDING 
--------------*/
.padding-l-5{
    padding-left: .3125rem;
}

/*--------------
    DISPLAY 
--------------*/
.display-none{
    display: none;
}

/*--------------
    POSITION 
--------------*/
.relative{
    position: relative;
}

.absolute{
    position: absolute;
}