/*--------------
    COMMON 
--------------*/
body{
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

/*--------------
    FLEX 
--------------*/
.flex{
    display: flex;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.wrap-wrap{
    flex-wrap: wrap;
}

.justify-center{
    justify-content: center;
}

.align-items-center{
    align-items: center;
}

/*--------------
    TEXT 
--------------*/
.list-none{
    list-style: none;
}

.text-center{
    text-align: center;
}

/*--------------
    MARIGN 
--------------*/
.margin-l-15{
    margin-left: .9375rem;
}

.margin-b-30{
    margin-bottom: 1.875rem;
}

.margin-b-15{
    margin-bottom: .9375rem;
}
