/*--------------
    HEADER 
--------------*/
header .upgrade-button:hover{
    transform: scale(1.1);
    transition: transform 0.5s;
}

/*--------------
    MAIN 
--------------*/
.main-content-right .moving-action-top a:hover{
    color: white;
}

.song .layover i{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: .25rem;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    font-size: 5rem;
    color: white;
}
.song .layover:hover i{
    opacity: 1;
}

/*--------------
    ASIDE 
--------------*/
aside .aside-action:hover span.open-menu{
    color: white;
}

.playlist-top .playlist-button:hover i{
    background-color: white;
}
.playlist-top .playlist-button:hover span{
    color: white;
}

.playlist-bottom li a:hover{
    color: white;
}

/*--------------
    FOOTER 
--------------*/
.left-nav .info-brano small a:hover{
    text-decoration: underline;
    color: white;
    cursor: pointer;
}

.music-like i:hover{
    color: white;
    cursor: pointer;
}

.center-nav .play-icon:hover{
    transform: scale(2.2);
}

.center-nav .back-icon:hover,
.center-nav .forward-icon:hover{
    transform: scale(1.7);
}

.center-nav .random-icon:hover,
.center-nav .replay-icon:hover{
    transform: scale(1.2);
}

.center-nav .navigation-icons i:hover{
    color: white;
}

.center-nav .bar:hover,
.right-nav .bar-2:hover{
    cursor: pointer;
}
.center-nav .bar:hover .bar-upon,
.right-nav .bar-2:hover .bar-upon{
    background-color: #c0fc61;
}

.center-nav .bar:hover .cursor-dot-1,
.right-nav .bar-2:hover .cursor-dot-2{
    display: block;
}

.right-nav .list-icon:hover,
.right-nav .desktop-icon:hover{
    color: white;
}


