/*--------------
    FOOTER 
--------------*/
footer{
    height: 5.625rem;
    background-color: var(--dark-grey);
    padding: 1.25rem .625rem;
    color: white;
}

/*--------------------
IMMAGINE ALBUM E LIKE
---------------------*/
.left-nav{
 width: 25%;
}

.left-nav .info-brano a{
    color: var(--grey-light);
    font-weight: bold;
}

.music-like button{
    color: var(--lighter-grey);
}

.music-like i{
    margin: 0.125rem 0;
}

@media screen and (min-width: 700px){
    footer .left-nav small{
        font-size: 12px;
    }
    .left-nav .music-like{
        margin-left: auto;
    }
}

@media screen and (min-width: 1100px){
    .left-nav{
        width: 20%;
    }
    .left-nav .music-like{
        flex-direction: row;
    }
    .left-nav .music-like i{
        margin-right: .9375rem;
        font-size: 1.0625rem;
    }
}

@media screen and (min-width: 1600px){
    .left-nav{
        width: 15%;
    }
}

/*-------------------------
PULSANTE NAVIGAZIONE BRANI 
-------------------------*/
.center-nav{
    width: calc(50% - 1.25rem);
}

.navigation-icons{
    margin-bottom: .625rem;
}

footer a{
    color: white;
}

.navigation-icons i{
    margin: 0 .9375rem;
    color: rgba(255, 255, 255, 0.7);
}

.navigation-icons .back-icon,
.navigation-icons .forward-icon{
    transform: scale(1.5);
}

.navigation-icons .play-icon{
    transform: scale(2);
}

.center-nav .progress-bar .time{
    font-size: .625rem;
}

.bar{
    width: 60%;
    margin: 0 .625rem;
    height: .3125rem;
    background-color: #5a5a5a;
    border-radius: 3.125rem;
    position: relative;
}

.bar-upon{
    height: .3125rem;
    width: 25%;
    border-radius: 3.125rem;
    background-color: var(--grey-fill-bar);
}

.cursor-dot-1, .cursor-dot-2{
    position: absolute;
    left: 25%;
    top: -5px;
    color: #c0fc61;
}

@media screen and (min-width: 1100px) {
    .center-nav{
        width: calc(60% - 1.25rem);
    }
}

@media screen and (min-width: 1600px){
    .center-nav{
        width: calc(70% - 1.25rem);
    }
}

/*----------------------
SETTAGGI VOLUME E ALTRO
-----------------------*/
.right-nav{
    width: 25%;
    align-items: center;
    margin-left: .625rem;
}

.bar-2{
    width: 100%; 
    margin: 0 .3125rem;
    height: .3125rem;
    background-color: #5a5a5a;
    border-radius: 3.125rem;
    position: relative;
}

.right-nav i{
    font-size: .8125rem;
}

.right-nav .list-icon,
.right-nav .desktop-icon{
    color: rgba(255, 255, 255, 0.7);
}

.right-nav .progress-bar{
    width: 60%;
}

@media screen and (min-width: 1100px) {
    .right-nav{
        width: 20%;
    }
}

@media screen and (min-width: 1600px) {
    .right-nav{
        width: 15%;
    }
}