/*--------------
    FOOTER 
--------------*/
footer{
    height: 5.625rem;
    background-color: var(--dark-grey);
    padding: 1.25rem .625rem;
}

/*--------------------
IMMAGINE ALBUM E LIKE
---------------------*/
.listening-now{
 width: 25%;
 color: white;
}

.listening-now .info-brano{
    padding-left: .3125rem;
}

footer .listening-now .info-brano a{
    color: var(--grey-light);
    font-weight: bold;
}

.music-like button{
    color: var(--lighter-grey);
}

.music-like i{
    margin: 0.125rem 0;
}

@media screen and (min-width: 700px){
    footer .listening-now small{
        font-size: 12px;
    }
    .listening-now .music-like{
        margin-left: auto;
    }
}

@media screen and (min-width: 1100px){
    .listening-now .music-like{
        flex-direction: row;
        align-items: center;
    }
    .listening-now .music-like i{
        margin-right: .9375rem;
    }
}

/*-------------------------
PULSANTE NAVIGAZIONE BRANI 
-------------------------*/
.music-navigation{
    width: calc(50% - 1.25rem);
    color: white;
}

.navigation-icons{
    margin-bottom: .625rem;
}

.navigation-icons i{
    padding: 0 .9375rem;
}

.navigation-icons .back-icon,
.navigation-icons .forward-icon{
    transform: scale(1.5);
}

.navigation-icons .play-icon{
    transform: scale(2);
}

.music-navigation .progress-bar .time{
    font-size: .625rem;
}

.bar{
    width: 60%;
    margin: 0 .625rem;
    height: .1875rem;
    background-color: #5a5a5a;
    border-radius: 3.125rem;
    position: relative;
}

.bar-upon{
    height: .1875rem;
    width: 25%;
    border-radius: 3.125rem;
    background-color: var(--grey-fill-bar);
}

.cursor-dot-1, .cursor-dot-2{
    position: absolute;
    left: 25%;
    top: -5px;
    color: #c0fc61;
}
/*----------------------
SETTAGGI VOLUME E ALTRO
-----------------------*/
.music-settings{
    width: 25%;
    align-items: center;
    color: white;
    margin-left: .625rem;
}

.bar-2{
    width: 100%; 
    margin: 0 .3125rem;
    height: .1875rem;
    background-color: #5a5a5a;
    border-radius: 3.125rem;
    position: relative;
}

.music-settings i{
    font-size: .8125rem;
}

.music-settings .progress-bar{
    width: 60%;
}