/*--------------
    HEADER 
--------------*/
header{
    height: 4.375rem;
    position: fixed;
    right: 0;
    left: 3.125rem;
    top: 0%;
    justify-content: end;
    align-items: center;
    background-color: var(--dark-blue);
}