/*-----------
    MAIN
-------------*/
main{
    height: calc(100% - 5.625rem);
    background-color: var(--grey-darker);

}

main .main-content-right{
    padding: 4.375rem 1.25rem 0 1.25rem;
    overflow-y: auto;
    width: calc(100% - 3.125rem);
}

/*---------------------
MAIN MOVING ACTION TOP 
----------------------*/
main .main-content-right .moving-action-top{
    color: var(--grey-light);
}

main .moving-action-top ul{
    padding: 0 1.5rem;
}

main .moving-action-top ul li{
    width: calc(100% / 4 );
    font-size: 0.8rem;
    font-weight: bold;
    padding-top: 1.5rem;
}

/*-----------------
MAIN
ASCOLTATI DI RECENTE
CREATI PER TE
ARTISTI PIU' POPOLARI
-------------------*/
main .ascoltati-recente{
    justify-content: space-evenly;
}

main .listen-section h2{
    color: white;
    margin-top: 2.5rem;
}

main .ascoltati-recente .song{
    width: calc(100% / 2 - 1.5625rem);
    margin-bottom: .9375rem;
}

main .ascoltati-recente .song img{
    max-width: 100%;
}

main .listen-section .name{
    color: white;
    padding: .625rem 0 .3125rem 0;
}

.subtitle{
    color: var(--grey-light);
    font-weight: bold;
    display: block;
}

/*--------------
    ASIDE 
--------------*/
aside {
    width: 3.125rem;
    padding: .3125rem 0;
    justify-content: center;
    align-content: space-between;
    background-color: black;
}

aside img{
    width: 1.875rem;
}

aside .profile img{
    border-radius: 50%;
    background-color: #808080;
}

aside .aside-bottom #download-img{
    transform: translate(-0.1875rem, 0px);
}

