/*-----------
    MAIN
-------------*/
main{
    height: calc(100% - 5.625rem);
    background-color: var(--grey-darker);

}

main .main-content-right{
    padding: 4.375rem 1.25rem 0 1.25rem;
    overflow-y: auto;
    width: calc(100% - 3.125rem);
}

/*---------------------
MAIN MOVING ACTION TOP 
----------------------*/
main .main-content-right .moving-action-top a{
    color: var(--grey-light);
}

main .moving-action-top ul{
    padding: 0 1.5rem;
}

main .moving-action-top ul li{
    width: calc(100% / 4 );
    font-size: 0.8rem;
    font-weight: bold;
    padding: 1rem 0;
}

main .moving-action-top ul li:first-child{
    position: relative;
}

main .moving-action-top ul li:first-child::after{
    content: "";
    background-color: #adff2f;
    width: 1.875rem;
    height: .0938rem;
    position: absolute;
    bottom: .625rem;
}

@media screen and (min-width: 700px){
    main .moving-action-top ul li{
        width: calc(100% / 3);
    }
}

@media screen and (min-width: 1100px){
    main .moving-action-top ul li{
        width: calc(100% / 5);
    }
}

@media screen and (min-width: 1600px){
    main .moving-action-top ul li{
        width: calc(100% / 6);
    }
}

/*-----------------
MAIN
ASCOLTATI DI RECENTE
CREATI PER TE
ARTISTI PIU' POPOLARI
-------------------*/
main .ascoltati-recente{
    justify-content: space-evenly;
}

main .listen-section h2{
    color: white;
    margin-top: 2.5rem;
}

main .ascoltati-recente .song{
    width: calc(100% / 2 - 1.5625rem);
    margin-bottom: .9375rem;
}

main .ascoltati-recente .song img{
    width: 100%;
}

main .listen-section .name{
    color: white;
    padding: .625rem 0 .3125rem 0;
}

.subtitle{
    color: var(--grey-light);
    font-weight: bold;
    display: block;
}

@media screen and (min-width: 1100px){
    main .ascoltati-recente .song{
        width: calc(100% / 4 - 1.5625rem);
    }
    main .ascoltati-recente {
        justify-content: flex-start;
    }
    main .ascoltati-recente .song{
        margin: 0 .625rem;
    }
    main .listen-section h2,
    main .listen-section .hint{
        margin-left: .5rem;
    }
    main .listen-section:first-of-type .song{
        margin-bottom: .9375rem;
    }
}

@media screen and (min-width: 1600px){
    main .ascoltati-recente .song{
        width: calc(100% / 6 - 1.25rem);
    }
}