/*-----------
    MAIN
-------------*/
main{
    height: calc(100% - 5.625rem);
    background-color: var(--grey-darker);

}

main .main-content-right{
    padding: 4.375rem 1.25rem 0 1.25rem;
    overflow-y: auto;
    width: calc(100% - 3.125rem);
}

/*---------------------
MAIN MOVING ACTION TOP 
----------------------*/
main .main-content-right .moving-action-top{
    color: var(--grey-light);
}

main .moving-action-top ul{
    padding: 0 1.5rem;
}

main .moving-action-top ul li{
    width: calc(100% / 4 );
    font-size: 0.8rem;
    font-weight: bold;
    padding-top: 1.5rem;
}

main .moving-action-top ul li:first-child{
    position: relative;
}

main .moving-action-top ul li:first-child::after{
    color: #adff2f;
    content: "___";
    font-size: 1.5rem;
    position: absolute;
    bottom: -0.4375rem;
}

/*-----------------
MAIN
ASCOLTATI DI RECENTE
CREATI PER TE
ARTISTI PIU' POPOLARI
-------------------*/
main .ascoltati-recente{
    justify-content: space-evenly;
}

main .listen-section h2{
    color: white;
    margin-top: 2.5rem;
}

main .ascoltati-recente .song{
    width: calc(100% / 2 - 1.5625rem);
    margin-bottom: .9375rem;
}

main .ascoltati-recente .song img{
    max-width: 100%;
}

main .listen-section .name{
    color: white;
    padding: .625rem 0 .3125rem 0;
}

.subtitle{
    color: var(--grey-light);
    font-weight: bold;
    display: block;
}

/*--------------
    ASIDE 
--------------*/
aside.nav-bar-left{
    width: 3.125rem;
    padding: .3125rem 0;
    background-color: black;
    overflow-y: auto;
}

aside img{
    width: 1.875rem;
}

.aside-top .aside-action {
    margin-bottom: .625rem;
}

aside .aside-bottom #download-img{
    transform: translate(-0.125rem, 0px);
    width: 1.25rem;
    margin-bottom: 1rem;
}

aside .profile img{
    border-radius: 50%;
    background-color: #808080;
    height: 1.875rem;
}

@media screen and (min-width: 700px){
    aside.nav-bar-left{
        width: 14.375rem;
        align-items: flex-start;
        padding: 1rem 0 1rem 1.25rem;
        z-index: 10;
    }
    aside.nav-bar-left .aside-top .logo-small{
        display: none;
    }
    aside.nav-bar-left .aside-top .logo-big{
        display: block;
        width: 80%;
        margin-bottom: 1.5625rem;
    }
    aside .aside-top .aside-action:nth-child(2){
        position: relative;
    }
    aside .aside-top .aside-action:nth-child(2):after{
        color: #adff2f;
        content: "_";
        transform: rotate(90deg);
        font-size: 3.8rem;
        position: absolute;
        left: -0.6875rem;
    }
    .nav-bar-left .aside-top .aside-action:nth-child(2) .open-menu{
        color: white;
    }
    .nav-bar-left .aside-action .open-menu{
        color: #a3a3a3;
        display: block;
        padding-left: .4375rem;
    }
    aside .aside-bottom #download-img{
        margin-bottom: 0;
    }
    .aside-bottom .horizontal-rule{
        display: block;
        width: 100%;
        height: .0313rem;
        margin: .625rem 0;
        background-color: #a3a3a3;
        color: #a3a3a3;
    }
}

/*--------------
 ASIDE PLAYLIST
--------------*/
aside .playlist-bottom{
    width: 100%;
}

aside .playlist-top h4{
    color: white;
    margin-top: .625rem;
}

aside .playlist-top .playlist-button{
    padding: .9375rem 0;
}

aside .playlist-button i{
    background-color: var(--grey-light);
    padding: .3125rem;
}

aside .playlist-button span{
    color: var(--grey-light);
    font-weight: bold;
}

aside .playlist-bottom{
    overflow-y: auto;
    flex-grow: 1;
    min-height: 3.75rem;
    margin-bottom: .9375rem;
}

aside .playlist-bottom ul li a{
    color: #a3a3a3;
    text-decoration: none;
}

@media screen and (min-width: 700px){
    aside .playlist-top, aside .playlist-bottom{
        display: block;
    }
}

